body {
  font-family: "Encode Sans", sans-serif;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
  margin-top: 40px;
}
.bordas {
  border-width: 1px;
  border-style: solid;
  border-color: #f5f6f7 white;
  height: 45px;
}
a {
  text-decoration: none;
}
.topicos {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
  width: 1250px;
  margin-bottom: 36px;
  height: 45px;
}

.g1 {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  color: #c3170c;
  text-decoration: none;
}
.o-globo {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  color: #1e4b9b;
  text-decoration: none;
}
.valor {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  color: #006766;
  text-decoration: none;
}
.ge {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  color: #07aa47;
  text-decoration: none;
}
.cartola {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  color: #e3662b;
  text-decoration: none;
}
.globoplay {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  color: #fb0735;
  text-decoration: none;
}
.dropz {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ff75bb;
  text-decoration: none;
}
.gshow {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ec7d00;
  text-decoration: none;
}
.quem {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  color: #323333;
  text-decoration: none;
}
.receitas {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  color: #a81d83;
  text-decoration: none;
}
.conteudo-principal {
  display: flex;
  width: 1250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px;
  margin-bottom: 0px;
}
.parte-principal-1 {
  width: 663px;
  border: solid;
  border-width: 1px;
  border-color: white #ebedef white white;
  padding-bottom: 25px;
}
.conteudo-um {
  width: 624px;
  border-width: 1px;
  border-style: solid;
  border-color: white white #ebedef white;
}
.conteudo-dois {
  display: flex;
  justify-content: space-between;
  width: 624px;
  height: 338px;
  border: solid;
  border-color: white white #ebedef white;
  border-width: 1px;
}
.conteudo-um-titulo {
  color: #c4160c;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 67px;
}
.conteudo-um-subtitulo {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  color: #303134;
}

.paragrafo1 {
  text-decoration: none;
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #303134;
  margin-bottom: 10px;
}
.paragrafo2 {
  text-decoration: none;
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #303134;
}
.imagem {
  width: 193px;
  height: 110px;
  border-radius: 12px;
  margin-top: 25px;
}
.rodape {
  color: #c4170c;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  margin-top: 10px;
  margin-bottom: 10px;
}
.conteudo-dois-titulo {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.045em;
  color: #2f3134;
  width: 192px;
  height: 84px;
  left: 154px;
  top: 644px;
}
.conteudo-dois-titulo-2 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.045em;
  color: #2f3134;
  width: 192px;
  height: 84px;
  left: 154px;
  top: 644px;
}
.conteudo-dois-subtitulo {
  width: 174px;
  height: 42.5px;
  left: 154px;
  top: 732.5px;
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.048em;
  color: #2f3134;
}
.conteudo-dois-subtitulo-2 {
  width: 174px;
  height: 42.5px;
  left: 154px;
  top: 732.5px;
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.048em;
  color: #2f3134;
}
.presidente {
  margin-right: 24px;
}
.crimes {
  margin-right: 24px;
}
.conteudo-tres {
  display: flex;
  justify-content: space-between;
  width: 624px;
  padding-top: 15px;
}
.parte-principal-dois {
  width: 310px;
  height: 845px;
  border: solid;
  border-width: 1px;
  border-style: solid;
  border-color: white #ebedef white white;
}
.conteudo-1 {
  margin-left: 35px;
  width: 240px;
}
.imagem2 {
  width: 240px;
  height: 128px;
  left: 853px;
  top: 162px;
  border-radius: 12px;
}
.rodape2 {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #16ae54;
  margin-top: 11px;
}
.titulo2 {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.045em;
  color: #2f3134;
  margin-top: 6px;
}
.titulo3 {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.045em;
  color: #2f3134;
  margin-top: 6px;
}
.subtitulo2 {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.048em;
  color: #2f3134;
  margin-top: 15px;
}
.conteudo-2 {
  margin-left: 35px;
  width: 240px;
  margin-top: 42px;
}
.rodape3 {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #ec8006;
}
/* Inicio da atualização para página responsiva */

@media (max-width: 480px) {
  body {
    max-width: 480px;
  }
  .o-globo {
    display: none;
  }
  .valor {
    display: none;
  }
  .cartola {
    display: none;
  }
  .dropz {
    display: none;
  }
  .quem {
    display: none;
  }
  .receitas {
    display: none;
  }
  .topicos {
    max-width: 400px;
  }
  .conteudo-um-titulo {
    font-size: 32px;
  }
  .conteudo-um-subtitulo {
    font-size: 18px;
  }
  .conteudo-um {
    width: 400px;
    border-width: 1px;
    border-style: solid;
    border-color: white white #f5f6f7 white;
  }
  .paragrafo1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.068em;
    color: #cd150b;
  }
  .paragrafo2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.068em;
    color: #cd150b;
  }
  .conteudo-dois {
    width: 400px;
    flex-direction: column;
    justify-content: flex-start;
    border-width: 1px;
    border-style: solid;
    border-width: 1px;
    border-style: solid;
    border-color: white white #f5f6f7 white;
    height: 500px;
  }
  .conteudo-dois-titulo {
    float: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    /* or 139% */
    letter-spacing: -0.045em;
    color: #cd150b;
    margin-bottom: 0px;
    margin-right: 30px;
  }
  .rodape {
    display: none;
  }
  .conteudo-dois-subtitulo {
    clear: both;
    width: 330px;
    margin-top: 0px;
    padding-left: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.048em;
    color: #cd150b;
  }

  .conteudo-tres {
    clear: both;
    width: 400px;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: white white #f5f6f7 white;
  }
  .conteudo-principal {
    flex-direction: column;
  }
  .imagem {
    width: 120px;
    height: 67px;
    float: left;
    margin-left: 50px;
  }
  .imagem2 {
    width: 120px;
    height: 67px;

    margin-left: 30px;
  }
  .titulo2 {
    margin-top: 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.045em;
    color: #06aa48;
    float: right;
    width: 200px;
    margin-right: 35px;
  }
  .titulo3 {
    margin-top: 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.045em;
    color: #ff8203;
    float: right;
    width: 200px;
    margin-right: 35px;
  }
  .rodape2 {
    display: none;
  }
  .subtitulo2 {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.048em;
    color: #cd150b;
    clear: both;
    margin-top: 0px;
    float: center;
    display: none;
  }
  .parte-principal-1 {
    border: solid;
    border-width: 1px;
    border-color: white white white white;
    width: 400px;
  }
  .parte-principal-dois {
    width: 400px;
    height: 360px;
    border-width: 1px;
    border-style: solid;
    border-color: white white white white;
  }
  .presidente {
    width: 400px;
    border-width: 1px;
    border-style: solid;
    border-color: white white #f5f6f7 white;
    margin-bottom: 0px;
  }
  .crimes {
    width: 400px;
    border-width: 1px;
    border-style: solid;
    border-color: white white #f5f6f7 white;
  }
  .conteudo-dois-titulo-2 {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    width: 300px;
    letter-spacing: -0.045em;
    color: #cd150b;
    margin-bottom: 0px;
    margin-left: 60px;
    height: 40px;
  }
  .conteudo-dois-subtitulo-2 {
    clear: both;
    width: 330px;
    padding-left: 60px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.048em;
    color: #cd150b;
    height: 330;
  }
  .conteudo-1 {
    width: 400px;
    height: 100px;
    margin-left: 0px;
    padding-left: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: #f5f6f7 white #f5f6f7 white;
    padding-top: 20px;
  }
  .conteudo-2 {
    margin-left: 0px;
    width: 400px;
    margin-top: 20px;
    padding-left: 0px;
    height: 90px;
    border-width: 1px;
    border-style: solid;
    border-color: white white #f5f6f7 white;
  }
  .parte-principal-tres {
    border-width: 1px;
    border-style: solid;
    border-color: white white #f5f6f7 white;
    width: 400px;
  }
  .rodape3 {
    display: none;
  }
}
